body{
    color: aliceblue;
    margin: 0;
} 

.main-header{
    background-image: url(images/pexels-riccardo-bertolo-4245826.jpg);
    background-size: cover;
    border-bottom: 5px solid;
    border-color:chocolate;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-left: -150px;
    padding-top: 10px;
}

.nav-menu{
    display:flex;
    margin-right: -5cm;
}
.nav-menu li{
    padding: 30px;
    list-style: none;
}
.nav-menu a{
    font-size:x-large;
    color: antiquewhite;
    text-decoration: none;
}
.btline{
    background-color: chocolate;
    height: 3px;
    width: 77px;
    margin-top: 4px;
    margin-left: -10px;
}
.nav-menu a:hover + .btline{
    visibility: hidden;
}
.bottom1{
    background-image: url(.//images/pexels-guillaume-meurice-2808402.jpg);
    color:aliceblue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.2cm;
    padding: 5cm;
}
.b1{
    background-color: rgb(38, 37, 37);
    padding: 1cm;
}
.b11{
    background-color: rgb(58, 57, 57);
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.b11 h4{
    color: chocolate;
}
.b111 pre{
    overflow-y: scroll;
    height: 150px;
}
.end{
    color: white;
    background-color: rgb(36, 35, 35);
}
.end1{
    display: flex;
    justify-content: space-around;
    margin-left: 2cm;
}
.compline{
    height: 1px;
    width: 80px;
    background-color: rgb(231, 103, 40);
}
.navigate{
    margin-left: 4cm;
}
.navigate h2{
    padding: 0 5cm;
    text-align:justify;
    margin-left: -4.6cm;
}
.navigateline{
    height: 1px;
    width: 80px;
    margin-left: 15px;
    background-color: rgb(231, 103, 40)
}
.navi-menu li,a{
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    padding: 10px 0px;
    font-size: large;
    margin-left: -12px;
}

.navi-menu a:hover{
    color: chocolate;
    padding-left: 10px;
    transition:1s ease;
}
.follow{
    padding: 0 2cm;
}
.followline{
    height: 1px;
    width: 90px;
    background-color: rgb(231, 103, 40);
}
.icons{
    display: flex;
    margin-top: 20px;
    font-size: 25px;
}
.icons i{
    border-radius: 50%;
    padding:15px;    
    background-color: rgb(78, 77, 77);
    margin-right: 10px;
}
.icons i:hover{
    color: black;
    background-color:orange;
}
.mail i,.phone i{
    font-size: 1cm;
    margin-top:20px ;
}
.phone{
    margin-bottom: 5cm;
}
.comp,.navigate,.follow{
    margin-top: 1cm;
}
.copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
}